html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, "Times New Roman", Arial, serif;
  width: 80%;
  margin: auto;
}

header {
  background-image: url(../img/basketball.jpg);
  height: 250px;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
}

ul {
  font-size: xx-large;
  font-weight: bold;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


h1 {
  font-size: 3em;
  font-style: italic;
  text-align: center;
  background-color: white;
}

h1 + .paragraph_1 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  background-color: white;
}

h2 ~ p {
  font-size: 2.5em;
  font-weight: lighter;
}

h3 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  background-color: white;
}

#first {
  background-color: azure;
}

.cv {
  width: 40%;
  margin: auto;
  background-color: #00ADEF;
}

.cv > img {
  width: 100%;
}

.cv h1 {
  background-color: #00ADEF;
}

a img {
  width: 20%;
}

#third::before {
    content: "\276E";
    position: absolute;
    top: -30px;
    left: 0;
    width: 30px;
    height: 30px;
}

p {
  font-size: 1.5em;
  text-indent: 5%;
}

section p:first-letter {
  font-size: 2em;
}

p > a {
  text-align: center;
  text-decoration: none;
}

p a:hover{
  color: red;
}

fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

form {
  width: 80%;
  margin: auto;
}

label {
  display: inline-block;
}

textarea {
  display: block;
}

select {
  height: 30px;
}

select > option {
  font-size: large;
}

input[type="text"] {
  opacity: 0.5;
  height: 30px;
}

input[type="submit"] {
  height: 50px;
  background-color: #faff7c;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
}


.media {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 100px;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  margin: 5%;
}

.main-menu {
  margin: auto;
  height: 289px;
  background-color: #ffffff;
}

.main-menu img {
  width: 100%;
}

.main-menu a:hover {
  background-color: #faff7c;
}
