html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    min-width: 320px;
    padding: 0 0;
}

nav {
    display: flex;
}

ul {
    font-size: xx-large;
    font-weight: bold;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.section-title {
    margin: 143px auto 108px;
    width: 44%;
    text-align: center;
}
h1, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2, p {
    font-family: 'PT Sans', sans-serif;
    text-align: justify-all;
}

h1 {
    margin-top: 35px;
    margin-bottom: 44px;
    color: #0ec8cb;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

h2 {
    padding: 0 2%;
    margin: 0 0;
    color: #999999;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em;
    line-height: 1.875em;
    text-transform: uppercase;
    letter-spacing: 0.16em;
}

h3 {
    color: #898f99;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.section-blocks {
    background-color: #f7f7f7;
    margin: 0 auto 138px;
    width: 66%;
    height: 525px;
    font-size: 0;

}

.section-blocks .block {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 25%;
    border: 1px solid #ececec;
    font-size: 16px;
    text-align: center;
    vertical-align: top;

}

.block:hover {
    background-color: #0ec8cb;
    color: #ffffff;
}

.block img {
    margin-top: 25%;
}

img ~ h4 {
    margin: 70px 50px 0 50px;
    font-size: 1.5em;
    text-transform: uppercase;
}

#second-sub-title {
    margin-top: 55px;
}

h4 ~ p {
    margin: 50px 40px 0 40px;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
}
article {
    background-color: #0ec8cb;
    margin: 3% 0 0 0;
    border: 30px solid darkblue;
}

.forecast {
    width: 60%;
    margin: 0 20% 10% 20%;
}

.weather-forecast {
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    margin: 30px 0 30px 30px;
}

.inline-block {
    height: 200px;
    border-left: 5px solid white;
}

.inline-block ul {
    height: 100%;
}

.inline-list {
    font-size: 0;
    margin-bottom: inherit;
}

.inline-list li {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 20px;
    text-align: center;


}

.inline-list a {
    box-sizing: border-box;
    height: 100%;
    border-top: 5px solid white;
    border-right: 5px solid white;
    margin: 0 0;
    padding: 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

i {
    font-size: 2em;
}

.inline-list a:hover {
    background-color: #999999;
}

#lisbon, #san-fransisco {
    width: 50%;
}

#lisbon {background-color: #0ec8cb;}

#san-fransisco {background-color: deeppink;}

#paris {background-color: dodgerblue;}

#belgrade {background-color: blueviolet;}

#moscow {background-color: red;}

#tel-aviv {background-color: orange;}

#cairo {background-color: yellow}

#new-york {background-color: darkseagreen}

#new-delhi {background-color: darkgray}

#tokyo {background-color: forestgreen}

#sydney {
    width: 100%;
    background-color: darkmagenta;
}

#sydney a {
    border-bottom: 5px solid white;
}

.forecast p {
    color: white;
    font-size: 1.5em;

}

footer {
    height: 100px;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    margin-top: 5%;
}

footer a {
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    opacity: 0.5;
}

footer a:before {
    content: "\01F4E7";
    color: lightseagreen;
    font-size: 1.5em;

}