@font-face {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'),
    url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Raleway-Black";
    font-style: normal;
    font-weight: bold;
    src: local('Raleway'),
    url(../fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
    font-family: "Pacifico-Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'),
    url(../fonts/Pacifico-Regular.ttf) format('truetype');
}