@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "function";
@import "normalize";


a, a:hover {
  color: $dark-text;
}

a:hover {
  border-top: 2px solid #ff6033;
}

.scroll-img {
  margin: -20px auto;
  position: sticky;
  top: 80%;
  text-align: center;
  cursor: pointer;
}

body {
  margin: 0 0;

  .main {

    .header-section {
      @include headerSection;

      .header {
        color: $dark-text;
        min-height: 156px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger-menu {
          cursor: pointer;
        }

        @media only screen and (min-width: 576px) {
          .burger-menu {
            display: none;
          }
        }
        @media only screen and (max-width: 576px) {
          min-height: 90px;
          background: rgba(100, 100, 100, 0.5);
          justify-content: space-around;
          position: sticky;
          top: 0;
          align-items: flex-start;
          .header__logo {
            margin-left: 30px;
          }
        }


        .burger-menu:checked ~ .header__logo {
            display: none;
        }

        .burger-menu:checked ~ .nav {
          display: block;
          .menu {
            width: 100%;
            margin: 0 0;
            padding: 25px 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__item {
              margin-bottom: 12px;
            }
            &__link:hover {
              border: 2px solid #ff6033;
              border-radius: 30%;
              letter-spacing: 5px;
            }

            &__link {
            @include contentText($regular-text, $dark-text, 16px, 700);
            padding-top: 9px;
            text-transform: uppercase;
           }
          }
        }

        @media only screen and (max-width: 1140px ) {
          justify-content: space-around;
          &__logo {
            margin: 0 0;
          }
        }

        @media only screen and (max-width: 768px ) {
          flex-direction: column;
        }

        @media only screen and (max-width: 576px ) {
          .burger-menu {
            display: none;
          }

          .burger-img,
          .burger-img:before,
          .burger-img:after {
            position: absolute;
            top: 40px;
            right: 30px;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 5px;
            background: #262626;
            cursor: pointer;
          }
          .burger-img:before {
            content: "";
            top: -8px;
            right: 0;
            transform: translate(0, 0);
            transition: all 0.3s;
          }
          .burger-img:after {
            content: "";
            top: 8px;
            right:  0;
            transform: translate(0, 0);
            transition: all 0.3s;
          }
          .burger-menu:checked ~ .nav {
            display: block;
          }

          .burger-menu:checked ~ .burger-img {
            transform: rotate(-45deg);
            transition: all 0.3s;
          }
          .burger-menu:checked ~ .burger-img:before {
            transform: rotate(90deg);
            transition: all 0.3s;
            top: 0;
          }
          .burger-menu:checked ~ .burger-img:after {
            display: none;
          }
        }

        &__logo {
          @include logoText;
        }

        .nav {
          width: 50%;
          @media only screen and (max-width: 1140px ) {
            width: 70%;
          }
          @media only screen and (max-width: 768px ) {
            width: 100%;
          }
          @media only screen and (max-width: 576px ) {
            display: none;
          }

          .menu {
            width: 100%;
            margin: 0 0;
            padding: 0 0;
            display: flex;
            justify-content: space-between;

            &__link {
              @include contentText($regular-text, $dark-text, 16px, 700);
              padding-top: 9px;
              text-transform: uppercase;
            }
          }
        }
      }

      .head-content {
        padding: 180px 0 0 0;
        width: 30%;

        @media only screen and (max-width: 1140px ) {
          padding: 80px 0 0 0;
          width: 60%;
        }
        @media only screen and (max-width: 768px ) {
          padding: 80px 0 0 0;
          width: 80%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        @media only screen and (max-width: 576px ) {
          padding: 100px 0;
          width: 80%;
        }

        * {
          margin-bottom: 30px;
        }

        &__title {
          font-family: $heavy-text;
          font-size: 60px;
          font-weight: 400;
          margin-bottom: 0;
        }

        &__text {
          @include contentText($regular-text, $dark-text, 17px, 300);
          @media only screen and (max-width: 576px) {
          font-weight: bold;
          }
        }


        &__button {
          @include button(#ff6033);
          @media only screen and (max-width: 576px) {
            margin-top: 400px;
          }
        }

        &__button:active {
          transform: scale(0.8);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
        }
      }
    }

    .about-us {
      @include aboutUs;
      @media only screen and (max-width: 992px) {
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
      }

      @media only screen and (max-width: 320px) {
            padding: 0 5px;
      }

      .about-us-image {
        @media only screen and (max-width: 992px){
            padding-right: 0;
        }

        &__big {
          @media only screen and (max-width: 992px) {
            display: none;
          }
        }

        &__small {
          @media only screen and (min-width: 991px) {
            display: none;
          }
          @media only screen and (max-width:320px) {
            display: none;
          }
        }
      }

      .about-us-content {
        width: 31%;
        position: relative;
        right: 5%;
        padding-right: 30px;
        color: $light-text;
        font-family: $regular-text;
        @media only screen and (max-width: 1100px) {
          right: 0;
        }
        @media only screen and (max-width: 992px) {
          width: 80%;
          padding-right: 0;
        }

        &__title {
          @include bigTitle($light-text);
          margin-bottom: 0;
          @media only screen and (max-width: 576px) {
            font-size: 45px;
          }
        }

        &__text {
          @include contentText($regular-text, $light-text, 17px, 300);
        }
        @media only screen and (max-width: 992px) {
          &__title {
            margin: 0 0;
          }
        }
      }
    }

    .our-services {
      min-height: 990px;
      background-color: #70bfff;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 992px) {
        flex-direction: column;
      }
      @media only screen and (max-width: 576px) {
        min-height: 800px;
      }

      .button-icons > * {
        margin-bottom: 20px;
        height: 120px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        cursor: pointer;
      }

      .button-icons {
        width: 30%;
        margin-right: 70px;
        @media only screen and (max-width: 992px) {
          width: 70%;
          margin: 50px 0;
        }

        .icon-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon-image {
            border-left: 1px solid #9d9d9d;
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .icon-text {
            width: 75%;
            text-align: center;

            &__title {
              @include contentText($regular-text, $dark-text, 20px, 700);
            }
          }
        }
      }

      .icon-item:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }

      &__image {
        margin-left: 70px;
        min-height: 600px;
        @media only screen and (max-width: 576px){
          display: none;
        }

        @include backgroundNice(url(../img/tomatoes.png), bottom right);
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 767px) {
          margin-left: 0;
          @include backgroundNice(url(../img/tomatoes.png), center);
        }
        @media only screen and (max-width: 576px) {
          width: 53%;
        }
      }

      &__title {
        @include bigTitle($light-text);

        @media only screen and (max-width: 576px) {
          text-align: center;
          font-size: 45px;
        }
      }
      &__title--hidden {
        @include bigTitle($light-text);
        margin: 0 0;
        font-size: 40px;
        @media only screen and (min-width: 576px) {
          display: none;
        }
      }
    }

    .gallery {
      width: 100%;
      min-height: 1536px;
      background-color: #ffe92f;

      .gallery-text {
        margin: 0 auto 46px;
        padding-top: 100px;
        width: 34%;
        text-align: center;
        @media only screen and (max-width: 992px) {
          width: 62%;
          padding-top: 70px;
        }
        @media only screen and (max-width: 768px) {
          width: 80%;
          padding-top: 50px;
        }
        @media only screen and (max-width:320px) {
          padding-top: 10px;
        }


        &__title {
          @include bigTitle($dark-text);
          margin-top: 0;
          margin-bottom: 30px;
          @media only screen and (max-width: 576px) {
            font-size: 45px;
          }
        }

        &__text {
          @include contentText($regular-text, $dark-text, 17px, 300);
        }
      }

      .photo-container {
        min-height: 980px;
        margin: 0 auto;
        width: 78%;

        .first-row {
          min-height: 550px;
          margin-bottom: 30px;
          display: flex;
          justify-content: center;
          @media only screen and (max-width: 992px) {
            flex-direction: column;
            align-items: center;
          }

          .big-pic {
          @include backgroundNice(url(../img/peaches.png), center);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            width: 65%;
            margin-right: 30px;
            cursor: pointer;
            @media only screen and (max-width: 992px) {
              height: 400px;
              width: 80%;
              margin: 0 0 30px;

            }
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }

          .big-pic:hover {
            opacity: 0.7;
          }

          .small-column {
              width: 35%;
              @media only screen and (max-width: 992px) {
                width: 80%;
              }
              @media only screen and (max-width: 768px) {
                width: 100%
              }
            &__pic-1, &__pic-2 {
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
              height: 260px;
              width: 100%;
              cursor: pointer;
            }

            &__pic-1:hover, &__pic-2:hover {
              opacity: 0.7;
            }

            &__pic-1 {
              @include backgroundNice(url(../img/berry1.png), center);
              margin-bottom: 30px;
            }

            &__pic-2 {
              @include backgroundNice(url(../img/berry2.png), center);
            }
          }
        }

        .second-row {
          max-height: 400px;
          display: flex;
          @media only screen and (max-width: 992px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
          }

          &__pic-1, &__pic-2 {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            height: 400px;
            width: 50%;
            cursor: pointer;
            @media only screen and (max-width: 992px) {
              width: 80%;
            }
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }

          &__pic-1:hover, &__pic-2:hover {
            opacity: 0.7;
          }

          &__pic-1 {
            @include backgroundNice(url(../img/berry3.png), center);
            margin-right: 30px;
            @media only screen and (max-width: 992px) {
              margin: 0 0 30px;
            }
          }

          &__pic-2 {
            @include backgroundNice(url(../img/hurma.png), center);
          }
        }
      }

      .button-container {
        @media only screen and (max-width: 992px) {
          min-height: 150px;
        }


        &__button {
          margin: 70px auto;
          @include button(#5585a2);
        }

        &__button:active {
          transform: scale(0.8);
          transition: all 0.3s;
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
        }
      }
    }

    .subscribe {
      @include backgroundNice(url(../img/form-background.png), center);
      min-height: 500px;
      color: $dark-text;
      font-family: $regular-text;
      display: flex;
      align-items: center;

      .subscribe-col {
        padding-left: 165px;
        @media only screen and (max-width:768px) {
            padding-left: 65px;
          }
      }

      .subscribe-row-1 {
        width: 43%;
        @media only screen and (max-width:992px) {
          width: 60%;
        }
        @media only screen and (max-width:768px) {
          width: 80%;
        }

        &__title {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 0;
          @media only screen and (max-width: 576px) {
            font-size: 24px;
          }
        }

        &__text {
          @include contentText($regular-text, $dark-text, 17px, 300);
        }
      }

      .subscribe-row-2 {
        width: 100%;

        .subscribe-form {
          width: 100%;
          margin-top: 30px;
          @media only screen and (max-width: 768px) {
            width: 70%;
          }

          input[type="email"] {
            width: 56%;
            height: 50px;
            opacity: 0.5;
            padding-left: 15px;
            margin-right: 30px;
            @media only screen and (max-width: 768px) {
              margin-bottom: 30px;
              height: 35px;
              margin-right: 0;
              width: 100%;
            }
          }

          input[type="submit"] {
            border: none;
            background-color: #96b92c;;
            color: $light-text;
            font-size: 18px;
            font-weight: 700;
            width: 170px;
            height: 55px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .blog {
      min-height: 864px;
      background-color: #b07cf7;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .blog-header {
        width: 40%;
        text-align: center;

        &__title {
          margin: 30px 0;
          @include bigTitle($light-text);
          @media only screen and (max-width: 576px) {
            font-size: 65px;
          }
          @media only screen and (max-width: 320px) {
            font-size: 55px;
          }
        }

        &__text {
          @include contentText($regular-text, $light-text, 17px, 300);
        }
      }

      .blog-photo {
        width: 78%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        @media only screen and (max-width: 992px) {
          width: 90%;
          flex-direction: column;
          align-items: center;
        }


        .blog-photo-section {
          width: 33%;
          height: 310px;
          margin-right: 30px;
          position: relative;
          display: flex;
          align-items: flex-end;
          @media only screen and (max-width: 992px) {
            width: 60%;
            margin-right: 0;
            margin-bottom: 30px;
          }
          @media only screen and (max-width: 576px) {
            width: 90%;
          }
          @media only screen and (max-width: 320px) {
            width: 95%;
          }

          &__date {
            position: absolute;
            top: 30px;
            left: 30px;
            fill: white;
          }

          &__date:hover {
            transform: scale(1.3);
            fill: magenta;
          }

          &__date--date1 {
            @include contentText($regular-text, $light-text, 32px, 700);
          }
          &__date--month {
            @include contentText($heavy-text, $light-text, 21px, 400);
            text-transform: uppercase;
          }

          .blog-photo-section-titles {
            padding: 0 0 20px 20px;

            &__title {
              margin: 0 0;
              @include contentText($heavy-text, $light-text, 24px, 600)
            }

            &__author {
              @include contentText($small-text, $light-text, 13px, 300);
              margin-bottom: 0;
            }
          }
        }

        > :first-child {
          @include backgroundGradient(url(../img/green.png))
        }

        > :nth-child(2) {
          @include backgroundGradient(url(../img/soup.png))
        }

        > :last-child {
          @include backgroundGradient(url(../img/red.png))
        }
      }

      .blog-button-container {
        @media only screen and (max-width: 992px) {
          min-height: 150px;
        }

        &__button {
          margin: 70px auto;
          @include button(#f72b3b);
        }

        &__button:active {
          transform: scale(0.8);
          transition: all 0.3s;
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}